<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211754548062-n571sp8dhm49ol2gfu3ofe7155a4ha33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211754548062-n571sp8dhm49ol2gfu3ofe7155a4ha33</string>
	<key>API_KEY</key>
	<string>AIzaSyCjfieMvt1T5Sl3fPBssl_kqp_e2_hvT_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>211754548062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naze.chessudoku</string>
	<key>PROJECT_ID</key>
	<string>chessudoku-f1843</string>
	<key>STORAGE_BUCKET</key>
	<string>chessudoku-f1843.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211754548062:ios:a0a2927f08afc704df2dcf</string>
</dict>
</plist>